.footer__content {
  position: relative;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__circle {
  position: absolute;
  top: 10%;
  left: 6%;
}
.footer__upbottom {
  color: #ffffff;
  height: 20vh;
  padding-top: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.footer__text {
  margin: 0 10% 0;
  width: 40%;
}
.footer__redes {
  margin: 0 15% 0;
  width: 20%;
}

.footer__redes p{
  padding-left: 2%;
}
.footer__redes a {
  margin: 0 2% 0;
}

.footer__redes a:last-child {
  margin: 0 5%;
}

.footer__bottom {
  font-family: Roboto;
  color: #ffffff;
  display: flex;
  justify-content: start;
  padding: 2% 10%;
  height: 6vh;
  align-items: center;
  border-top: 5px solid #ffffff;
}
